* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;

  font-family: "Karla", sans-serif;
}

.container {
  width: 100%;
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 1rem;
}

.wrapper{
display: grid;

    padding: 1em;

    border-radius: 0.6em;
    background-color: var(--default-color);
    box-shadow: 0 0.9em 2.8em rgba(86,66,0,0.2);

place-content: center;
}

.header {
  display: flex;
  align-items: center;

  padding: 1rem;

  background: linear-gradient(90deg, #672280 0%, #a626d3 100%);
}

.header__image {
  height: 100%;
  margin-right: 0.75rem;
}

.header__title {
  margin: 0;
  margin-right: auto;

  color: #fff;

  font-size: 1.25rem;
  font-weight: 700;
}

.header__course {
  margin: 0;

  text-align: right;

  color: #fff;

  font-size: 0.75rem;
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;

  margin-bottom: 1.2em;

  gap: 1em;
}

.form--input {
  padding: 1em;

  text-indent: 0.5rem;

  border: 1px solid #d5d4d8;
  border-radius: 5px;

  font-family: "Karla", sans-serif;
  font-size: 0.75rem;
}


.meme {
  position: relative;

  display: grid;

  margin-bottom: 1em;

  place-content: center;
}

.meme--image {
  max-width: 100%;
  max-height: 50vh;

  border-radius: 5px;
}

.meme--text {
  position: absolute;
  left: 50%;

  width: 80%;
  margin: 15px 0;
  padding: 0 5px;

  transform: translateX(-50%);
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: white;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;

  font-family: impact, sans-serif;
  font-size: 1.5em;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}


.meme--button {
  padding: 0.5em;

  cursor: pointer;

  color: #fff;
  border: none;
  border-radius: 5px;
  background: linear-gradient(135deg, #711f8d 0%, #a818da 100%);

  font-family: "Karla", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;

}

@media (max-width:768px) {
  .meme--text{
    font-size: 1.2em;
  }
}

@media (max-width:550px) {
  .meme--text{
    font-size: 0.8em;
  }
  .meme--button{
    font-size: 0.8em;
  }
}