* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Karla", sans-serif;
}

main {
  padding: 2.25rem;
}

.header {
  display: flex;
  align-items: center;

  padding: 1.25rem;

  background: linear-gradient(90deg, #672280 0%, #a626d3 100%);
}

.header__image {
  height: 100%;
  margin-right: 0.75rem;
}

.header__title {
  margin: 0;
  margin-right: auto;

  color: #fff;

  font-size: 1.25rem;
  font-weight: 700;
}

.header__course {
  margin: 0;

  text-align: right;

  color: #fff;

  font-size: 0.75rem;
  font-weight: 500;
}

.form {
  display: grid;

  grid-template: 35px 35px / 1fr 1fr;
  gap: 1em;
}

.form__input {
  text-indent: 0.625rem;

  border: 1px solid #d5d4d8;
  border-radius: 5px;

  font-family: "Karla", sans-serif;
  font-size: 0.75rem;
}

.form__button {
  cursor: pointer;

  color: #fff;
  border: none;
  border-radius: 5px;
  background: linear-gradient(135deg, #711f8d 0%, #a818da 100%);

  font-family: "Karla", sans-serif;
  font-size: 1rem;
  font-weight: 700;

  grid-column: 1 / -1;
}

.meme__image {
  max-width: 100%;
}
